<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Flir Dog Join</title>
</head>
<body>
	<form action="/join" method="post">
		<h1>회원가입</h1>
		<hr/>
		<lable action="/join" method="post">
				<input type="'text" name="username" placeholder="Username" /><br/>
				<input type="password" name="password" placeholder="Password" /><br/>
				
				<input type="email" name="email" placeholder="Email" /><br/>
				
				<input type="text" name="zipcode" placeholder="Zipcode" /><br/>
				
				<label><input type="checkbox" name="dogcheck" value="yesDog"> Yes</label>
				<label><input type="checkbox" name="dogcheck" value="noDog"> No</lable><br/>
		<button>회원가입</button>
	</form>
</body>
</html>